extends layout

block content
  h2 Your Todo 
  form(method="POST", action="/todos")
    input(type="text", name="text", placeholder="Add a new todo", required)
    button(type="submit") Add
  ul
    each todo in todos
      li
        | #{todo.text}
        a(href=`/todos/${todo._id}/edit`) Edit
        form(method="POST", action=`/todos/${todo._id}/delete`, style="display:inline")
          button(type="submit") Delete